main{
    .nav-admin{
        display: flex;
        text-align: center;
        justify-content: center;

        .avatar{
            display: flex;
            justify-content: left !important;
        
        }
    }

    .aws{
        padding: 20% !important;
    }
    .container{  
        
        .tit-form{
            display: flex;
            text-align: center !important;
            justify-content: center;
        }
        .col-sm-12{
            text-align: center !important;
            display: flex !important;
            justify-content: center;
            margin: 10% !important;
            padding: 5% !important;
        }
        .respuesta{
            margin: 10%;
            padding: 5%;
        }
    }
    
}