main {
  .cont-Volu {
    display: flex;
    justify-content: space-between;
  }
  .titu-form{
    padding-top: 20px;
    padding-bottom: 24px;
  }
 .imgvol{
   position: absolute;
   height: 620px;
   width: 550px;
 }
}
